@charset "UTF-8";
.top_section {
	background-color: #600;
	display: block;
	width: auto;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
#banner img {
	display: block;
    margin-left: auto;
    margin-right: auto
}
#navigation-section {
	background-color: #9A4504;
	height: 13px;
}
tml {
	background-color: white;
}
.mobile {
	display: none;
}
body {
	font-size: 12px;
	font-family: Calibri, Helvetica, sans-serif;
	color: #ECE0DD;
	margin: 0;
	padding: 0;
}
.sectionnav {
	width: 220px;
	margin-left: 20px;
}


#content
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
tr:nth-child(even) {background: #ECE0DD}
tr:nth-child(odd) {background: #FFF}

#content td, #content th 
{
font-size:1em;
border:1px solid #660000;
padding:3px 7px 2px 7px;
}
#content th 
{
	font-size: 1.0em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #660000;
	color: #ffffff;
}
#content tr.alt td 
{
	color: #000000;
	background-color: #FFCDC6;
}
#content .sc_courselist {
	border-spacing: 0;
}
#content .sc_courselist td p {
	margin: 0;
	text-indent: -45px;
	margin-left: 45px;
}
#content .sc_courselist td {
	vertical-align: top;
	padding-right: 5px;
}
#content .sc_courselist .codecol {
	width: 75px;
}
#content .sc_courselist td.hourscol {
	text-align: right;
}
#content table.sc_courselist + p {
	no-margin: 0;
}
.coursecol {
	white-space: nowrap;
}
#header, #layout-table {
	position: relative;
	width: 100%;
	margin: 0 auto;
}
sup.footnoteanchor {
	font-size: 9px;
}
.footnotesymbol sup {
	width: 15px;
}
.footnoteblock {
	text-indent: -15px;
	padding-left: 15px;
}
#header td {
	padding-left: 2px;
}
#header div {
	position: relative;
}
#header div.edition {
	background-color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	bottom: 20px;
	left: 25px;
	color: white;
}
.yellow {
	color: #E0C128;
}
#header td.first {
	padding: 0;
}
#layout-table {
	padding: 0;
}
#navigation {
	background-color: #464646;
	height: auto;
	margin-top: 2px;
	margin-right: 2px;
	text-align: center;
}
#navigation ul {
	list-style: none;
	margin: 0;
	padding: 4px;
	/*padding-left: 0;*/
}
#navigation ul li {
	/*display: block;*/
	/*float: left;*/
	padding: 0 10px;
	margin-top: 3px;
	border-left: 1px solid #FFFFFF;
	display: inline;
}

#navigation ul li.first {
	border-left: none;
}
#navigation ul li a {
	font-size: 9px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation ul li a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
#search-form {
	width: 258px;
	height: auto;
	margin: 0;
	padding: 0;
	padding-bottom: 8px;
}
#search-form h4 {
	height: 19px;
	width: 248px;
	background-color: #464646;
	font-size: 9px;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	margin: 2px 0 10px 0;
	padding: 6px 0 0 10px;
}
#search-input {
	width: 170px;
	height: 15px;
	font: 13px Calibri, Helvetica, Arial, sans-serif;
}
#search-submit {
	border: none;
	color: #fff;
	background: url(../../../images/btn_go.gif) no-repeat bottom left;
}
#main{
	width:100%;
}
#side {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: auto;
	color: #424545;
	font-size: 11px;
	line-height: 135%;
	background-color: #F7F3EF;
	box-shadow: 0 0 5px #999;
	border: white solid 6px;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 10px;
	clear: none;
	height: auto;
}
#content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 740px;
	color: #424545;
	font-size: 11px;
	line-height: 135%;
	background-color: #F7F3EF;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
	border: white solid 1px;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 10px;
	height: auto;
}
#pagination
{
/**width: 720px;*/
   max-width:400px;
   margin-bottom:20px;
	color: #424545;
    clear:both;
    height:25px;
}
#pagination ul li {
   	display: inline;
	float: left;
	clear: right;
	padding: 0 3px;
	margin-top: 3px;
	border-left: 1px solid #FFFFFF;
}
#content {width:400px;}
#content td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #424545;
	font-size: 11px;
	line-height: 135%;
}
#content h1.page-title {
	font-size: 30px;
	line-height: 32px;
	color: #666;
	noborder-bottom: 1px solid #990B10;
	padding-bottom: 12px;
}
#content h1 {
	font-size: 18px;
	line-height: 1.2;
	margin: 9px 0 8px;
	color: #990000;
	font-family: Helvetica, sans-serif;
}
#content h2 {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #746F6F;
    margin-top:20px;
}
#content h3 {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
#content table {
	padding-bottom: 8px;
}
#content h4 {
	font-size: 12px;
/*	text-decoration: underline;
	text-transform: uppercase;*/
	margin-bottom: -3px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 8px;
}
#content h5 {
	font-size: 12px;
	margin-bottom: -3px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 8px;
	color: #9C0000;
}
#content h6 {
	margin: 0 !important;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
#content hr {
	color: #000;
	border-style: solid;
}
#content a {
	color: #D17702;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#content a:visited {
	color: #936241;
}
.courselist_total td, .listsum td {
	border-top: 1px solid black;
}
#footer {
	width:100%;
}
h2 {
clear:both;
}
