@charset "UTF-8";
*{
	font-family:Helvetica, sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
	-webkit-text-size-adjust:none;
	background-color: #FFFFFF;
}
#header {
	text-align:center;
	height:auto;
}
#header img{
	margin-top:10px;
}
#header h1 {
	font-size: 18px;
	line-height: 1.2;
	margin: 9px 0 8px;
	color: #990000;
	font-family: Helvetica, sans-serif;

	
}
#content 
  {
	margin: 25px auto;
	text-align: left;
	
}

#content h1 {
	font-size: 18px;
	line-height: 1.2;
	margin: 9px 0 8px;
	color: #990000;
	font-family: Helvetica, sans-serif;

	
}
#content h2 {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #746F6F;
}
#content h3 {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
#content table {
	padding-bottom: 8px;
}
#content h4 {
	font-size: 12px;
	text-decoration: underline;
	text-transform: uppercase;
	margin-bottom: -3px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 8px;
}
#content h5 {
	font-size: 12px;
	margin-bottom: -3px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 8px;
	color: #9C0000;
}
#content h6 {
	margin: 0 !important;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
#content hr {
	color: #000;
	border-style: solid;
}
#content a {
	color: #D17702;
	font-family: Helvetica, sans-serif;
}
#content a:visited {
	color: #936241;
}
tr:nth-child(even) {background: #ECE0DD}
tr:nth-child(odd) {background: #FFF}

#content td, #content th 
{
font-size:1em;
border:1px solid #660000;
padding:3px 7px 2px 7px;
}
#content th 
{
	font-size: 1.0em;
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #660000;
	color: #ffffff;
}
#content tr.alt td 
{
	color: #000000;
	background-color: #FFCDC6;
}
.footer {
	font-size: 12px;
	margin-bottom: 5px;
	margin-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 2px;
	color: #9C0000;
}
.clear{
    clear:both;
}