<style type="text/css">
	/** some sample style sheet values... feel free to change as needed **/
    a:link, a:visited, a:active {color: blue; text-decoration: none;}
    a:hover {text-decoration: none; color: white; background-color: blue;}

    body {font-family: Arial, Helvetica, sans-serif;}
    h1,h2,h3,h4,h5,h6 {text-align: left;}
    /*
    .header {overflow: auto; width: 100%; border: thin dotted black; padding: 0.1em;}
    .footer {font-size: 0.8em; text-align: center; border: thin dotted black; padding: 0.1em; margin-top:30px; color: #CCCCCC;}
    .navigation {text-align: left; border: thin dotted black; background-color: #ffcccc;}
    .fl_left {float:left;}
	*/
</style>